{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "d998245c-0040-4b46-b043-36228558967d",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}