.game-hud {
	position: absolute;
	top: 100px;
	left: 100px;
	right: 0;
	flex-direction: column;
	align-items: center;
}

	.game-hud.hidden {
		display: none;
	}

.timer {
	font-size: 60px;
	color: white;
}

.enemy-count {
	font-size: 30px;
	color: white;
}

.phase-text {
	font-size: 30px;
	color: white;
}

.player-count {
	position: absolute;
	top: 20px;
	right: 40px;
	font-size: 30px;
	color: white;
}

.hidden {
	display: none;
}
